.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.feature-card4-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card4-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card4-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card4-text1 {
  color: var(--dl-color-gray-700);
}
.feature-card4-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .feature-card4-text {
    font-style: normal;
    font-weight: 600;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-icon {
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card3-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card3-text1 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media(max-width: 767px) {
  .testimonial-card3-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  padding: 20px;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-image {
  height: 2rem;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200");
  background-position: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.home-text01 {
  text-transform: uppercase;
}
.home-text02 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.home-text03 {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.home-text04 {
  text-transform: uppercase;
}
.home-text05 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-button1:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-text13 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator1 {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-image1 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.home-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text17 {
  font-size: 3rem;
  text-align: center;
}
.home-text18 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text25 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.home-text27 {
  color: var(--dl-color-gray-black);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text29 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text31 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text33 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text36 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-step1 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text41 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text43 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text45 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-container8 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step2 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text50 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text52 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text55 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-step3 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text60 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text62 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text64 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .home-nav1 {
    padding-top: 16px;
  }
  .home-text06 {
    width: 100%;
  }
  .home-features {
    align-items: center;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-image1 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .home-text18 {
    text-align: center;
  }
  .home-container4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-text25 {
    text-align: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-container5 {
    flex-direction: column;
  }
  .home-text29 {
    text-align: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text33 {
    text-align: center;
  }
  .home-text41 {
    text-align: center;
  }
  .home-text43 {
    text-align: center;
  }
  .home-text50 {
    text-align: center;
  }
  .home-text52 {
    text-align: center;
  }
  .home-text60 {
    text-align: center;
  }
  .home-text62 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-nav {
    display: none;
  }
  .home-icon {
    display: flex;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text13 {
    text-align: center;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text18 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container4 {
    grid-template-columns: 1fr 1fr;
  }
  .home-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container6 {
    flex-direction: column;
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-container1 {
    align-items: center;
    flex-direction: column;
  }
  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container3 {
    grid-template-columns: 1fr;
  }
  .home-image1 {
    width: 250px;
    height: 250px;
  }
  .home-gallery {
    padding: var(--dl-space-space-unit);
  }
  .home-container4 {
    grid-template-columns: 1fr;
  }
  .home-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container7 {
    flex-direction: column;
  }
  .home-container8 {
    flex-direction: column;
  }
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
